.all{
  background-image: url('../../static/images/apartment-architecture-carpet-584399.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.main-section{
  padding-top: 100px;
  position: relative;
  z-index: 1;
  height: 100%;
}

.header {
    z-index: 3;
}

.footer {
    z-index: 3;

}

.register-complete-container {
  padding-top: 16px;
}

.register-complete-text {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  height: 48px
}
