.navbar-font{
    font-family: sans-serif;
}

.logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.navbar-link{
    margin: 0;
    color: dimgrey;
}

.navbar-link:hover {
    transition: color 0.2s linear;
    color: black;
}


