body {
    height: 100%;
    width: 100%;
    background: url('apartment.jpg') no-repeat;
    background-size: cover;

}

.search-box {
    margin-top: 50px;
    padding: 50px 80px 30px 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: rgba(230, 247, 255, .7);
}
