<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="/webjars/vue/2.5.13/vue.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
<body>
<div id="root">
    <div class="container">
        <div class="row">
            <h1>{{ message }}</h1>
        </div>
    </div>
</div>
</body>

<script>
    var app = new Vue({
        el: '#root',
        data: {
            message: "hello world"
        },
    });
</script>
</html>