<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="/webjars/vue/2.5.13/vue.js"></script>
    <script src="/webjars/bootstrap-vue/1.3.0/bootstrap-vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap-vue/1.3.0/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <title>Flattery</title>
</head>
<body>
<div id="app">
    <div th:insert="fragments/header :: header"></div>

    <div class="text-center">
        <b-container>
            <h1 class="display-2">Znajdź swoje miejsce</h1>
            <div class="text-left">
                    <b-form th:method="post" th:action="@{/search}">
                        <b-form-group id="citySearch" label="Miasto" label-for="cityInput">
                            <b-form-input id="cityInput" type="text" placeholder="Wpisz miasto" required></b-form-input>
                        </b-form-group>
                        <div class="text-right">
                            <b-button type="submit" size="lg" variant="primary">Szukaj</b-button>
                        </div>
                    </b-form>
            </div>
        </b-container>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</div>

</body>

<script>
    new Vue({
        el: "#app",
        data: {
            message: "Welcome to Flattery"
        },
    });
</script>
</html>